.selector {
  text-align: center;
  margin-bottom: 2rem;
}

.pulse-wrapper {
  margin-right: 15px;
}

.pulse-row {
  max-width: 500px;
  margin: 0 auto;
}

.results-row {
  margin: 0 auto;
}

.actions-wrapper, .selector-wrapper {
  margin: 0 auto;
  margin-bottom: 20px;
}
