.selector {
  text-align: center;
  margin-bottom: 2rem;
}

.pulse-wrapper {
  margin-right: 15px;
}

.pulse-row {
  max-width: 500px;
  margin: 0 auto;
}

.scores-table {
  max-width: 500px;
  margin: 0 auto;
}

.seconds-result{
  text-align: center;
}
