<div class="container">
  <div class="row">
    <app-options-selector
      class="selector-wrapper"
      [options]="options"
      [selectedOption]="selectedOption"
      (selectOptionEventEmitter)="selectPulseNumber($event)"></app-options-selector>
  </div>

  <div class="row" *ngIf="selectedOption">
    <div class="col-12 selector">
      <ng-container *ngIf="!pendingStart">
        <div class="btn-group btn-group-toggle">
          <label class="btn-success" ngbButtonLabel *ngIf="!start">
            <input type="checkbox" ngbButton (click)="initStartCount()"> Start
          </label>
          <label class="btn-danger" ngbButtonLabel *ngIf="start">
            <input type="checkbox" ngbButton (click)="stopGame()"> Stop
          </label>
          <label class="btn-warning" ngbButtonLabel *ngIf="stopTime && !showResults">
            <input type="checkbox" ngbButton (click)="showResultsTable()"> Show results
          </label>
        </div>
      </ng-container>
      <h1 *ngIf="pendingStart">{{counter}}</h1>
    </div>
  </div>

  <div class="row" *ngIf="showResults">
    <app-results-table class="results-row" [pulses]="pulses" [seconds]="seconds"></app-results-table>
  </div>

  <div class="row justify-content-md-center">
    <div class="row pulse-row" *ngIf="startTime && !pendingStart">
      <app-heartbeat class="pulse-wrapper"
                     [pause]="pause"
                     [speed]="pulse.speed"
                     *ngFor="let pulse of pulses"></app-heartbeat>
    </div>
  </div>
</div>

