<div class="col-12 selector">
  <div class="btn-group btn-group-toggle">
    <label class="btn-success" ngbButtonLabel *ngIf="!start">
      <input type="checkbox" ngbButton [value]="true" [(ngModel)]="start" (click)="startGame()"> Start
    </label>
    <label class="btn-danger" ngbButtonLabel *ngIf="start">
      <input type="checkbox" ngbButton [value]="false" [(ngModel)]="start" (click)="stopGame()"> Stop
    </label>
    <label class="btn-warning" ngbButtonLabel *ngIf="stopTime && !showResults">
      <input type="checkbox" ngbButton (click)="showResultsTable()"> Show results
    </label>
  </div>
</div>
