$size: 150px;

.preloader-container {
  width: $size;
  margin: 0 auto;
}

@keyframes heartbeat {
  0% {
    transform: scale(0.8);
  }
  12% {
    transform: scale(0.85);
  }
  25% {
    transform: scale(0.9);
  }
  25% {
    transform: scale(0.95);
  }
  50% {
    transform: scale(1);
  }
  62% {
    transform: scale(0.95);
  }
  75% {
    transform: scale(0.9);
  }
  82% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(0.8);
  }
}

.heart {
  top: calc(50% - #{$size/2});
  left: calc(50% - #{$size/2});
  width: $size;
  height: $size;
}

$maxPulse: 100;

@mixin heartbeat-pulse-animations-list {
  @for $i from 40 through $maxPulse {
    .heart-#{$i} {
      animation: heartbeat #{60/$i}s infinite
    }
  }
}

@include heartbeat-pulse-animations-list;
